
/* CSS Document */
body 
{
	background-color: #F8F753;
	direction: rtl;
}
header
{
	width: 100%;
	height: 50%;
	background-color:aqua;
	color:#FFFFFF;
	padding: 20px;

}
nav a {
	text-decoration: none;
	padding:20px;
	color: #000;
}
nav a:hover{
	color:#FFFFFF;
}
#container
{
	overflow: hidden;
	
}
main 
{
	width: 55%;
	height:500px;
	background-color:#898989;
	color:#FFFFFF;
	padding: 30px;
	float: left;

}

footer
{
	width: 100%;
	height:5;
	background-color:#797979;
	color:#000000;
	padding: 30px;
	text-align: center;
	margin-top: 100px;

}
footer p
{
	padding: 5px;
	margin: auto;
}

.main_top
{
	width: 600px;
	height: 50px;
	background-color: #eeeeee;
	text-align: center;
	margin-top:40px;
	padding-top: 10px;
	color: #000000;
}
.main_middle
{
	width:800px;
	height: 25%;
	margin-top:20px;

}
.main_bottom
{
	width: 600px;
	height:0px;
	text-align: left;
	
}
li a{
	text-decoration: none;
	
}
.img
{ margin: 10px 20px;
	direction: ltr;
}

